<div class="ui-g">



  <div class="ui-g-6">

    <div>
      <div><h3>Notificaciones</h3></div>
      <div>
      <p-table [value]="notificaciones" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let columna of columnas">
              {{columna.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-notificacion>
          <tr>
            <td *ngFor="let columna of columnas">

              <div *ngIf="columna.field==='id'">

                <div *ngIf="columna.header=='Identificador'">
                  {{notificacion[columna.field]}}
                </div>


              </div>

              <div *ngIf="columna.field!=='id'">

                {{notificacion[columna.field]}}

              </div>


            </td>
          </tr>
        </ng-template>
      </p-table>
      </div>

    </div>

  </div>


  <div class="ui-g-6">
    <h3 class="first">Informacion del dia</h3>

    <!-- weather widget start --><a target="_blank" href="https://hotelmix.es/weather/quito-18493"><img src="https://w.bookcdn.com/weather/picture/3_18493_1_4_137AE9_430_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=w209&anc_id=60292"  alt="booked.net"/></a><!-- weather widget end -->

  </div>




  <div class="ui-g-6">


    <p-messages [(value)]="msgs"></p-messages>

    <h3 class="first">Ventana</h3>
    <div>
      <button type="button" pButton (click)="showSuccess1()" label="Abrir Ventana" class="ui-button-success"></button>
      <button type="button" pButton (click)="showSuccess2()" label="Cerrar Ventana" class="ui-button-success"></button>
    </div>
  </div>




  <div class="ui-g-6">Col4</div>
</div>

<router-outlet></router-outlet>