<div class="ui-g">
  <div class="ui-g-6">
    <p-card>
      <p-header>CALENDARIO</p-header>
      <p-fullCalendar></p-fullCalendar>
    </p-card>
  </div>

  <div class="ui-g-6">
    <p-card>
      <p-header>NOTIFICACIONES</p-header>
      <!--<img src="..\imagenes\notification.png" alt="notificacion">-->
      <p-footer>
        <div>
          <button pButton type="button" class="ui-button-info" >Leer</button>
        </div>
        <button pButton type="button" class="ui-button-info">Limpiar</button>
      </p-footer>
    </p-card>
  </div>
</div>

<router-outlet></router-outlet>
