<form #formularioResgistrarUsuario="ngForm"
      novalidate
      (submit)="emitirFormularioValido(formularioResgistrarUsuario)"
>

  <div>
  </div>

  <div class="ui-inputgroup">

    <label [hidden]="true"
           for="nombre">Nombre</label>

    <input id="nombre"

           pInputText
           placeholder="Nombre"
           required
           type="text"
           name="nombre"
           [(ngModel)]="nombreUsuario"
           #inputNombre="ngModel"
    >
  </div>


  <div>

    <label [hidden]="true"
           for="apellido">Apellido </label>


    <input id="apellido"
           pInputText
           placeholder="Apellido"
           required
           type="text"
           name="apellido"
           [(ngModel)]="apellido"
           #inputApellido="ngModel"
    >
  </div>



  <div>

    <label [hidden]="true"
           for="password"> Contraseña </label>


    <input id="password"
           pInputText
           placeholder="Contraseña"
           required
           type="password"
           name="password"
           [(ngModel)]="password"
           #inputPassword="ngModel"
    >
  </div>




  <div>

    <label [hidden]="true"
           for="correoElectronico">Correo Electronico</label>

    <input id="correoElectronico"
           pInputText
           placeholder="Correo Electronico"
           required
           type="email"
           name="correoElectronico"
           [(ngModel)]="correoElectronico"
           #inputCorreoElectronico="ngModel"
    >
  </div>



  <button
      pButton
          [disabled]="formularioResgistrarUsuario.invalid">
    {{nombreBoton}}
  </button
>
</form>