<form #formularioResgistrarCuarto="ngForm"
      novalidate
      (submit)="emitirFormularioValido(formularioResgistrarCuarto)"
>

  <div>

    <p *ngIf="inputIdPiso.errors">

      <p-message
              *ngIf="inputIdPiso.errors.required"
              severity="warn"
              text="Error: El id del piso es requerido"></p-message>

    </p>

  </div>


  <div class="ui-inputgroup">

    <p-dropdown

                [options]="cuartos"
                required
                [(ngModel)]="tipoDeCuarto"
                #inputTipoCuarto
                placeholder="Tipo de Cuarto"
                [showClear]="true">

      </p-dropdown>

  </div>



  <div class="ui-inputgroup">

    <label [hidden]="true"
           for="idPiso">Nivel del Piso</label>

    <input id="idPiso"
           pInputText
           placeholder="Nivel del Piso"
           required
           type="number"
           name="idPiso"
           [(ngModel)]="idPiso"
           #inputIdPiso="ngModel"
    >
  </div>

  <button
          pButton
          [disabled]="formularioResgistrarCuarto.invalid">
    {{nombreBoton}}
  </button
  >
</form>