<form (submit)="login()">
  <p *ngIf="inputCorreoElectronico.errors">

    <p-message
      *ngIf="inputCorreoElectronico.errors.required"
      severity="warn"
      text="Error: El correo electronico es requerido"></p-message>

    <p-message
      *ngIf="inputCorreoElectronico.errors.email"
      severity="warn"
      text="Error: Debe ingresar un correo valido"></p-message>

  </p>


  <p *ngIf="inputPassword.errors">

    <p-message
      *ngIf="inputPassword.errors.required"
      severity="warn"
      text="Error: La contraseña es requerida"></p-message>


  </p>

  <div id="login-wrapper">
    <img src="../../imagenes/notification.png" name="User">
  <div id="login-container">
    <span class="title">Omega</span>
    <div class="ui-g ui-fluid">

      <div>
        <input
          pInputText
          placeholder="Correo Electronico"
          id="correoElectronico"
          name="correoElectronico"
          required
          email
          type="email"
          [(ngModel)]="usuario.correoElectronico"
          #inputCorreoElectronico="ngModel"
        >
      </div>
      <br>
      <div>
        <input
          pInputText
          placeholder="Contraseña"
          id="password"
          name="password"
          type="password"
          required
          [(ngModel)]="usuario.password"
          #inputPassword="ngModel"
        >
      </div>
      <br>
      <div>
        <button
          pButton
          class="ui-button-success"
          label="Iniciar Sesion"
          [disabled]="inputCorreoElectronico.errors"></button>
      </div>

      <div class="ui-g-12 ui-md-6">
        <a href="#">Forgot Password</a>
      </div>

      <div class="ui-g-12">
        <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
          <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
          <span class="ui-button-text ui-c">Sign In</span>
        </button>
      </div>
    </div>
  </div>
    <div class="login-footer">PrimeNG Omega</div>
  </div>
</form>
