<form #formularioActualizarUsuario="ngForm"
      novalidate
      (submit)="emitirFormularioValido(formularioActualizarUsuario)"
>
  <div>
    <p *ngIf="inputNombre.errors">

      <p-message
              *ngIf="inputNombre.errors.required"
              severity="warn"
              text="Error: El nombre es requerido"></p-message>
      <p-message
              *ngIf="inputNombre.errors.pattern"
              severity="warn"
              text="Error: El nombre debe contener solo letras."></p-message>

    </p>

    <p *ngIf="inputApellido.errors">

      <p-message
              *ngIf="inputApellido.errors.required"
              severity="warn"
              text="Error: El apellido es requerido"></p-message>
      <p-message
              *ngIf="inputApellido.errors.pattern"
              severity="warn"
              text="Error: El apellido debe contener solo letras."></p-message>

    </p>


    <p *ngIf="inputCorreoElectronico.errors">

      <p-message
              *ngIf="inputCorreoElectronico.errors.required"
              severity="warn"
              text="Error: El correo electronico es requerido"></p-message>
      <p-message
              *ngIf="inputCorreoElectronico.errors.email"
              severity="warn"
              text="Error: Debe ingresar un correo valido"></p-message>

    </p>




  </div>



  <div class="ui-inputgroup">

    <div class="ui-inputgroup">
      <input id="nombre"

             pInputText
             placeholder="Nombre"
             required
             pattern="[A-Za-z]{1,15}"
             type="text"
             name="nombre"
             [(ngModel)]="nombreUsuario"
             #inputNombre="ngModel"
      >
    </div>
  </div>


  <div class="ui-inputgroup">

    <div class="ui-inputgroup">
      <input id="apellido"

             pInputText
             placeholder="Apellido"
             required
             pattern="[A-Za-z]{1,15}"
             type="text"
             name="apellido"
             [(ngModel)]="apellido"
             #inputApellido="ngModel"
      >
    </div>
  </div>


  <div>


    <input id="correoElectronico"
           pInputText
           placeholder="Correo Electronico"
           required
           email
           type="text"
           name="correoElectronico"
           [(ngModel)]="correoElectronico"
           #inputCorreoElectronico="ngModel"
    >
  </div>


  <button
          pButton
          class="ui-button-success"

          [disabled]="formularioActualizarUsuario.invalid">
    {{nombreBoton}}
  </button>
</form>